<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>wee-css-tidy</string>
	<key>uuid</key>
	<string>270DE1D4-D53B-4041-9477-8173CF087FC9</string>
</dict>
</plist>
